
process {
    executor = "local"
    /* executor = "slurm" */
    /* queue = "cpl" */

    /**
     * Pipeline processes are assigned "labels" according to their
     * computational requirements. Here we can specify the actual effects of
     * each label when the pipeline runs on your system.
     *
     * This first label, `small`, describes simple tasks which can easily run
     * on a single CPU with minimal RAM -- e.g. downloading a file.
     */
    withLabel: 'small' {
        executor = 'local'
    }

    /**
     * `medium` describes tasks which require moderate host memory, e.g.
     * loading brain images and learning linear regression models.
     */
    withLabel: 'medium' {
        executor = 'slurm'

        time = '1d'
        memory = '8G'
    }

    /**
     * `gpu_medium` describes tasks which require a GPU with moderate memory
     * and moderate host RAM, for e.g. holding a dataset in memory and running
     * neural network feed-forward inference.
     */
    withLabel: 'gpu_medium' {
        containerOptions = "--nv"
    }

    /**
     * `gpu_large` describes tasks which require a GPU with lots of memory and
     * large host RAM, for e.g. holding a training dataset in memory and
     * running neural network training.
     */
    withLabel: 'gpu_large' {
        containerOptions = "--nv"
        time = '1d'
        clusterOptions = '--gres=gpu:GEFORCEGTX1080TI:1'
        containerOptions = "--nv"
    }
}

// There should be no need to edit below this line.
//////////////////////////////////////////

singularity {
    enabled = true
    envWhitelist = "CUDA_VISIBLE_DEVICES"
    autoMounts = true
}
report.enabled = true

