singularity {
    enabled = true
    envWhitelist = "CUDA_VISIBLE_DEVICES"
    autoMounts = true
}
report.enabled = true

process {
    executor = "local"
    /* executor = "slurm" */
    /* queue = "cpl" */

    withLabel: 'om.*' {
        time = '1d'
    }

    withLabel: 'om_gpu.*' {
        time = '1d'
        clusterOptions = '--gres=gpu:GEFORCEGTX1080TI:1'
        containerOptions = "-B /om -B /om2/user/jgauthie --nv"
    }
}

executor {
    $slurm {
        queueSize = 16
    }
}
