singularity {
    enabled = true
    envWhitelist = "CUDA_VISIBLE_DEVICES"
    autoMounts = true
}
report.enabled = true
container_dir = "/home/jgauthie/imgs"
containerOptions = "-B /om -B /om2"

process {
    executor = "slurm"
    clusterOptions = '--qos=cpl'

    withLabel: 'om.*' {
        time = '1d'
    }

    withLabel: 'om_big' {
        memory = '32 GB'
    }

    withLabel: 'om_gpu.*' {
        time = '1d'
        /* clusterOptions = '--qos=cpl --gres=gpu:tesla-k80:1' */
        clusterOptions = '--qos=cpl --gres=gpu:GEFORCEGTX1080TI:1'
        containerOptions = "-B /om -B /om2 --nv"
    }

    withLabel: 'om_gpu_tf' {
        container = "file://${container_dir}/tf1.12-gpu.simg"
    }
}

executor {
    $slurm {
        queueSize = 8
    }
}
