singularity.enabled = true
container_dir = "/home/jgauthie/imgs"

process {
    executor {
        name = 'slurm'
        queueSize = 10
    }
    clusterOptions = '--qos=cpl'
    containerOptions = '-B /om -B /om2'

    withLabel: 'om.*' {
        time = '1d'
        executor.queueSize = 15
    }

    withLabel: 'om_big' {
        memory = '32 GB'
        executor.queueSize = 6
    }

    withLabel: 'om_gpu.*' {
        time = '1d'
        executor.queueSize = 3
        clusterOptions = '--qos=cpl --gres=gpu:tesla-k80:1'
        containerOptions = '-B /om -B /om2 --nv'
    }

    withLabel: 'om_gpu_tf' {
        container = "file://${container_dir}/tf1.12-gpu.simg"
    }
}
