singularity.enabled = true
container_dir = "/home/jgauthie/imgs"

process {
    executor = 'slurm'
    clusterOptions = '--qos=cpl'

    withLabel: 'om.*' {
        time = '1d'
        queueSize = 15
        containerOptions = '-B /om -B /om2'
    }

    withLabel: 'om_gpu.*' {
        time = '1d'
        queueSize = 3
        containerOptions = '-B /om -B /om2 --nv'
    }

    withLabel: 'om_gpu_tf' {
        container = "file://${container_dir}/tf1.12-gpu.simg"
    }
}
